version: "3.8"

services:
  web:
    image: ttl.sh/rollwave-example-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${APP_PORT:-8080}:80"
    secrets:
      - source: API_KEY
        target: API_KEY

secrets:
  API_KEY:
    external: true
